body {
    background-color: #2c2f33 !important;
}
#titulo1 {
    margin-top: 10px;
    text-align: center;
    display: block;
}
#titulo1texto {
    color: cyan !important;
    font-family: "Arial" !important;
}
#descripcion {
    width: 500px;
    height: 200px;
    margin: 20px 0px 10px 0px;
    text-align: center;
    margin-left: 710px;
}
#descripciontexto {
    color: whitesmoke !important;
    font-family: "Calibri";
    font-size: 18pt;
}
#titulo2 {
    color: aquamarine;
    text-align: center;
    margin: 20px;
    font-size: 20pt;
    font-family: "Calibri";
}
#contenedor-foto1 {
    width: 488px;
    height: 265px;
    float: left;
}
#modelo-dron {
    border-color: darkslategrey !important;
    border-style: solid;
    border-width: 5px;
}
#descripcion-foto1 {
    color: lightgreen !important;
    font-family: "Calibri";
    font-size: 14pt;
    text-align: center;
}
#descripcion2-foto1 {
    color: whitesmoke !important;
    font-family: "Calibri";
    font-size: 12pt;
}  
#contenedor-foto2 {
    width: 488px;
    height: 265px;
    float: right;
} 
#situacion-dron {
    border-color: darkslategrey !important;
    border-style: solid;
    border-width: 5px;
}
#descripcion-foto2 {
    color: lightgreen !important;
    font-family: "Calibri";
    font-size: 14pt;
    text-align: center;
} 
#descripcion2-foto2 {
    font-size: 12pt;
    color: whitesmoke !important;
    font-family: "Calibri";
}
#listado {
    background-color: #414448;
    margin-left: 512px;
    margin-right: 512px;
    width: 888px; 
    font-family: "Calibri";
    color:snow;
    font-size: 14pt;
    height: 265px;
}
#titulo3 {
    padding-top: 10px;
    color: hotpink;
    font-size: 18pt !important;
    text-align: center;
}
.navbar {
    margin-top: 284px;
}
